# Core Flask Packages
Flask
Flask-SQLAlchemy

# PostgreSQL Connector
psycopg2-binary

# Utilities
Werkzeug
python-dotenv

# Optional (if you're planning PDF/Excel export)
openpyxl     # For Excel export
reportlab    # For PDF export
pandas     # For tabular data processing
xlsxwriter     # Optional Excel writer engine

# If using Flask-WTF for forms (optional)
Flask-WTF

# If using Flask-Migrate for DB upgrades (optional)
Flask-Migrate

gunicorn
